.doctor-detail-container {
   height: 500px;
   margin-top: 72px;
   padding-top: 16px;
   .intro-doctor {
      .intro-doctor-left {
         padding-right: 16px;
      }

      .intro-doctor-right {
         width: 520px;
         padding-left: 10px;
         .info-top {
            font-size: 20px;
            font-weight: 700;
         }

         .info-bottom {
            padding-top: 10px;
         }
      }
   }
}
