.doctor-detail-container {
   margin-top: 72px;
   padding-top: 16px;

   .container {
      overflow: unset;
   }

   .intro-doctor {
      .intro-doctor-left {
         padding-right: 16px;

         .intro-doctor-image {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            background-position: center;
            background-size: contain;
         }
      }

      .intro-doctor-right {
         width: 520px;
         padding-left: 10px;
         .info-top {
            font-size: 20px;
            font-weight: 700;
         }

         .info-bottom {
            padding-top: 10px;
         }
      }
   }
   .doctor-schedule {
      .content-left {
         .doctor-schedule-container {
            border-right: 2px solid #ddd;
         }
      }
   }
   .doctor-info-detail {
      background-color: #eee;
      padding: 16px;
      border-top: 2px solid #ddd;

      h2 {
         margin-bottom: 16px;
      }

      ul {
         margin-left: 22px;

         li {
            margin-bottom: 8px;
         }
      }

      img {
         width: 100%;
      }
   }
}
